@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  background-image: url("https://images5.alphacoders.com/542/thumb-1920-542751.jpg");
  width: 100%;
  height: 100%;
}

#text_1 {
  text-align: center;
  color: #0086c4;
  font-family: Poppins, Arial;
  font-size: 15px;
}

h1 {text-align: center;}

#liste1 {
  width: 537px;
  margin-left: 37%;
}
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  color: #fff;
  position: absolute;
  text-transform: uppercase;
}