@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/100603562874362366/1C95C340203FA72BC0B51A2FC9F52FC116948C6B/");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
  font-family: 'Poppins', Arial;
  color: white;
}

p {
  text-align: center;
  font-family: 'Poppins', Arial;
  color: white;
}

#btn {
  width: 537px;
  margin-left: 37%;
  text-align: left;
}
