@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  background-image: url("https://cdn.wallpaperhi.com/1920x1080/20120715/blue%20eyes%20blue%20hair%20chains%20anime%20girls%201920x1080%20wallpaper_www.wallpaperhi.com_80.jpg");
  width: 100%;
  height: 100%;

2
}
a
{
 position: relative;
 display: inline-block;
 padding: 15px 30px;
color: 	#FF0000;
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
font-size: 24px;
overflow: hidden;
transition: 0.2s;
text-align: center;
}
a:hover
{
  color: #AA9EFF;
  background: #1F00FF;
  box-shadow: 0 0 10px #AA9EFF, 0 0 40px #AA9EFF, 0 0 80px #AA9EFF;
  transition-delay: 0s;
}

b
{
 position: relative;
 display: inline-block;
 padding: 15px 30px;
color: 	#FF0000;
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
font-size: 24px;
overflow: hidden;
transition: 0.2s;
text-align: center;
}
b:hover
{
  color: #AA9EFF;
  background: #1F00FF;
  box-shadow: 0 0 10px #AA9EFF, 0 0 40px #AA9EFF, 0 0 80px #AA9EFF;
  transition-delay: 0s;
}

#liste_2
{
padding-bottom: 20px;
left: 13%;
}

#liste_3
{
padding-bottom: 20px;

}

#video_chika
{
padding-bottom: 20px;

}
#head_1
{
color:#2A00FE
}

