@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
  background-image: url("https://i.pinimg.com/originals/95/55/a0/9555a0b521676af5806153cc19267ab5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Roboto Mono", Sans-serif;
  margin-top: 20%;
}

#header {
  text-align: center;
}

#c_text {
  text-align: center;
  color: darkgoldenrodblue;
}

#menu_btn {
  margin-left: 45%;
  width: 10%;
}

#al {
  text-align: left;
  width: 537px;
  margin-left: 36%;
}

#list-item {
  align-self: center;
}

.button {
  margin-left: 45%;
  width: 10%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_1 {
  background-color: white;
  color: black;
  border: 2px solid red;
}

.button_1:hover {
  background-color: red;
  color: white;
  border-radius: 10px;
}

#c_purple {
  color: #3480eb;
}

#c_yellow {
  color: #0048ad;
  text-align: center;
}
