@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
  background-image: url("https://wallpapercave.com/wp/u5L1f74.jpg");
  width: 100%;
  height: 100%;


}
a
{
 position: relative;
 display: inline-block;
 padding: 15px 30px;
 color: 	#000080;
 text-transform: uppercase;
 letter-spacing: 4px;
 text-decoration: none;
 font-size: 24px;
 overflow: hidden;
 transition: 0.2s;
 text-align: center;
}
a:hover
{
  color: #C80000 ;
  background: #900000 ;
  box-shadow: 0 0 10px #C80000 , 0 0 40px #C80000 , 0 0 80px #C80000 ;
  transition-delay: 0s;
}





#liste_3
{

padding-bottom: 20px;
padding-left:50%;
padding-right: 50%;
}

#title
{
  color: #FF0000;
}


;
}


 color: #FF0000;
}



}



