@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f0d0dffd-193e-4768-86c5-e88ed1b59ce9/d8duq8c-05561d65-ef0c-406d-b890-569297ffd4b1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZjBkMGRmZmQtMTkzZS00NzY4LTg2YzUtZTg4ZWQxYjU5Y2U5XC9kOGR1cThjLTA1NTYxZDY1LWVmMGMtNDA2ZC1iODkwLTU2OTI5N2ZmZDRiMS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ELOfRKRbIfAEWJOw2e8W9V1ZoF0-KjzbiDBYhks6DG0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Roboto Mono", Sans-serif;
  margin-top: 20%;
}

#header {
  text-align: center;
}

#c_text {
  text-align: center;
  color: white;
}

#menu_btn {
  margin-left: 45%;
  width: 10%;
}

.button {
  margin-left: 45%;
  width: 10%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_1 {
  background-color: white; 
  color: black; 
  border: 2px solid red;
}

.button_1:hover {
  background-color: red;
  color: white;
  border-radius: 10px;
}












#c_red {
  color: #FF6A6A;
}

#c_white {
  color: white;
}
